@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-inter), sans-serif;
}

:root {
  --button-blue: hsl(214, 100%, 58%);
  --button-hover:hsl(214, 93%, 62%);
  --text-color: hsl(212, 6%, 46%);
  --text-black-color: hsl(210, 11%, 7%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.test-classname {
  position: absolute;
  top: 150px;
  right: 60px;
  background-color: white;
  border-radius: 6px;
  z-index: 50;
  width: 350px;
  height: 450px;
  margin-top: 8px;
  box-shadow: 0px 10px 16px 0px rgba(39, 43, 48, 10%);
}

.customer-filter {
  position: absolute;
  top: 150px;
  right: 60px;
  background-color: white;
  border-radius: 6px;
  z-index: 50;
  width: 340px;
  height: 360px;
  margin-top: 8px;
  box-shadow: 0px 10px 16px 0px rgba(39, 43, 48, 10%);
}

.add-category-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}


.delete-category-modal {
  width: 480px;
  height: 248px;
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  z-index: 50;
}

.test-modal {
  width: 480px;
  height: 292px;
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  z-index: 50;
}

.sales-filter {
  position: absolute;
  top: 150px;
  right: 60px;
  background-color: white;
  border-radius: 6px;
  z-index: 50;
  width: 328px;
  height: 402px;
  margin-top: 8px;
  box-shadow: 0px 10px 16px 0px rgba(39, 43, 48, 10%);
}

.user-profile-modal {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: white;
  border-radius: 6px;
  z-index: 50;
  width: 420px;
  height: 100vh;
  /* margin-top: 8px; */
  box-shadow: 0px 10px 16px 0px rgba(39, 43, 48, 10%);
}

.wallet-filter {
  position: absolute;
  top: 150px;
  right: 60px;
  background-color: white;
  border-radius: 6px;
  z-index: 50;
  width: 328px;
  height: 350px;
  margin-top: 8px;
  box-shadow: 0px 10px 16px 0px rgba(39, 43, 48, 10%); 
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}


input::file-selector-button  {
  background-color: var(--button-blue) !important;
  color: white !important;
  padding: 0.5em !important;
  margin-right: 10px;
  border-radius: 6px !important;
  cursor: pointer;
}

input[type="range"] {
  accent-color: #E5E5E5;
}


input[type=range] {
  -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 269px;
  height: 4px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: black;
  margin-top: -6px;
  cursor: pointer;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}
input[type=range] {
  /* fix for FF unable to apply focus style bug  */
  border: 1px solid white;
  /*required for proper track sizing in FF*/
  width: 300px;
}
input[type=range]::-moz-range-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}
input[type=range]:focus::-moz-range-track {
  background: #ccc;
}

#priceRange {
  width: 100%;
  margin-top: 10px;
}

input[type="date"]::before {
  content: attr(placeholder);
  position: absolute;
  color: #999999;
  margin-top: 5px;
}

input[type="date"] {
  color: transparent;
}

input[type="date"]:focus,
input[type="date"]:valid {
  color: #666666;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
  content: "";
}


input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 1;
  display: block;
  background-repeat:  no-repeat;
  width: 13px;
  height: 13px;
  position: absolute;
  right: 15%;
}

input::-webkit-datetime-edit-fields-wrapper {
  position: relative;
  left: 5%;
}
input::-webkit-datetime-edit {
  position: relative;
  left: 5%;
}